.modal-container {
  position: fixed;
  border: 1px solid gray;
  left: 50%;
  top: 50%;
  min-width: 300px;
  min-height: 250px;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: white;
  padding: 10px;
  border-radius: 3px;

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &-button {
      border-radius: 50%;
      width: 35px;
      height: 35px;
      border: none;
      cursor: pointer;
    }
  }

  &__content {
    margin-top: 25px;

    &-loading {
      text-align: center;
    }
  }
}